<!DOCTYPE html>
<html lang="en">

<head>
    <meta property="og:title" content="My Personal Diary" />
    <meta property="og:description" content="The website to write your daily activities" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <title>Sparta Coding Club | Bootstrap Practice</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Jua&amp;display=swap" rel="stylesheet" />

    <style>
        #profile-image{
            border-radius: 50%;
            width: 30%;
            margin: 1em;
        }
    </style>
    <script>
        $(document).ready(function () {
            listing()
            bsCustomFileInput.init()
        })

        function listing() {
            $.ajax({
                type: "GET",
                url: "/diary?sample_give=hello",
                data: {},
                success: function (response) {
                    let articles = response.articles
                    for (let i = 0; i < articles.length; i++) {
                        let title = articles[i]['title']
                        let content = articles[i]['content']
                        let file = articles[i]['file'] || "default.jpg";
                        let profile = articles[i]['profile'] || "mypicture.jpg";
                        let time = articles[i]['time'] || "????.??.??";
                        let temp_html = `<div class="col-4">
                <div class="card">
                    <img src="../static/${file}"
                        class="card-img-top" alt="..." />
                    <img src="../static/${profile}"
                        class="card-img-top" id="profile-image" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">${title}</h5>
                        <p class="card-text">${content}</p>
                        <h6 class="card-subtitle mb-2 text-muted">${time}</h6>
                    </div>
                </div>
            </div>`

                        $("#cards-box").append(temp_html)

                    }
                }
            })
        }

        function posting() {
            let title = $("#title").val()
            let content = $("#description").val()

            if (title && content) {

                let file = $("#image").prop("files")[0] ;
                let profile = $("#profile").prop("files")[0] ;

                let form_data = new FormData();
                
                // form_data.enctype = 'multipart/form-data'

                form_data.append("file_give", file);
                form_data.append("profile_give", profile);
                form_data.append("title_give", title);
                form_data.append("content_give", content);

                $.ajax({
                    type: "POST",
                    url: "/diary",
                    data: form_data,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log(response);
                        window.location.reload();
                    },
                });
            }
         else { alert("Pastikan semua data terisi") }
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Personal Diary</h1>
                <div class="input-group mb-3 custom-file">
                    <input type="file" class="form-control" id="image">
                </div>
                <div class="input-group mb-3 custom-file">
                    <input type="file" class="form-control" id="profile">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="title" placeholder="The title of your image" />
                </div>
                <div class="mb-3">
                    <textarea placeholder="The description of your image" class="form-control" id="description"
                        rows="3"></textarea>
                </div>
                <button onclick="posting()" type="button" class="btn btn-primary">Save Diary</button>
            </div>
        </div>
        <div class="row justify-content-start" id="cards-box">
            
        </div>
    </div>
    
</body>

</html>